.dashboard-main-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.dashboard-top-container {
    height: 33.33%;
    width: 100%;
    position: relative;
}

.dashboard-middle-container {
    height: 25%;
    width: 100%;
    position: relative;
}

.dashboard-middle-container-out {
    height: 96%;
    width: 100%;
    padding: 2%;
    position: relative;
}

.dashboard-dispatch-card {
    width: 33%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: cadetblue;
}

.dashboard-dispatch-card-out {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5%;
}

.dashboard-shipment-card {
    width: 33%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color:darksalmon
}

.dashboard-shipment-card-out {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5%;
}

.dashboard-return-card {
    width: 33%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: indianred;
}

.dashboard-return-card-out {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5%;
}

.dashboard-card-label {
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font: small;
}

.dashboard-card-label-value {
    padding-left: 5%;
    position: relative;
    display: inline-block;
    font-size: 500%;
}

.dashboard-bottom-container {
    height: 33.33%;
    width: 100%;
    position: relative;
    display: flex;
}

.dashboard-bottom-container-left-out {
    height: 96%;
    width: 40%;
    position: relative;
    margin-top: 6%;
    margin-left: 2%;
    display: left;
    background-color: rgba(172, 255, 47, 0.466);
}

.dashboard-row {
    padding-top: 20px;
    position: relative;
    width: 100%;
    padding-left: 10px;
}

.dashboard-product-align-column-a {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 50%;
    display: inline-block;
}

.dashboard-product-align-column-b {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 15%;
    display: inline-block;
}

.dashboard-product-align-column-c {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 30%;
    display: inline-block;
}

.dashboard-bottom-container-right-out {
    height: 96%;
    width: 60%;
    position: relative;
    margin-top: 6%;
    margin-right: 2%;
    display: inline-block;
    float: right;
    background-color: rgba(172,255,47,0.276);
}
